
$fontsize: 14px;
$fontfamily: 'Raleway', sans-serif;
$fontcolor: #2b2b2b;

$blue: #091AFF;
$green: #8ba100;
$yellow: #fbb802;
$red: #a20202;
$gray: #858585;
$lightgray: #ecf0f1;
$white: #ffffff;
$errorcolor: #ff0000;

$mainbackground: #f5f4f2;

$tablet: 1023px;
$mobile: 767px;